@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Proza+Libre);

.mainheader {
  font-family: "Merriweather";
  font-size: 34px;
  word-spacing: -0.2rem;
  line-height: 1.1;
  color: #241c15
}
.body2 {
  font-family: "Proza Libre";
  font-size: 14px;
  color: #241c15;
}
.container-form {
  width: 100%;
  align-items: center;
}

strong {
  text-align: left;
  font-weight: bold;
}

a {
  float: right;
  color: #007c89;
}
form {
  width: 100%;
}
input[type=submit] {
  font-family: "Proza Libre";
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #007c89;
  height: 50%;
}
input[type=text], input[type=password], input[type=tel], input[type=date], select, textarea {
  font-family: "Proza Libre";
  width: 100%;
  font-size: 14px;
  color: #241c15;
}
.container {
  display: flex;
}
.bottom-form {
  display: flex;
  align-content: center;
  border: black;
}

@media only screen and (min-width: 601px) {
  .content {
    width: 100%;
  }

  .body1 {
    font-family: "Proza Libre";
    font-size: 14px;
    color: #241c15;
  }


  footer {
    font-family: "Proza Libre";
    font-size: 9px;
    color: rgba(36, 28, 21, 0.65);
    padding: 10px;
    text-align: center;
  }

  .colourpicture{
    width: 120px;
  }
  .blackandwhitepicure{
    display: none;
  }

  .centered {
    margin-left: 15%;
    margin-right:15%;
  }
}
.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
}


@media only screen and (max-width: 600px) {
    .container {
      width: 100%;
    }

    .colourpicture{
      display: none;
    }

    footer {
      font-family: "Proza Libre";
      font-size: 9px;
      color: rgba(36, 28, 21, 0.65);
      padding: 10px;
      text-align: center;
    }


    .body1 {
      display: none;
    }

    .blackandwhitepicure{
      width: 120px;
      display: block;
      margin-left: 40%;
      margin-right: 40%;
    }

    h2 {
      display: none;
    }
    .bottom-form {
      display: block;
      width: 100%;
      text-align: center;
    }
    .container-form {
      position: relative;
      text-align: left;
      width: 100%;
}
